services:
  app:
    build: .
    ports:
      - "3000:8080"
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: rehund
      POSTGRES_PASSWORD: RayhanKaya123%
      POSTGRES_DB: healthcare
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: always

volumes:
  postgres_data:
  redis_data: